## **Exercise 16.01: Guided Exercise**
### Preparing the dataset to implement pipelines

### Importing modules

In [1]:
import pandas as pd

### Loading Data

In [ ]:
filename = 'https://raw.githubusercontent.com/OsamaAkhlaq/DS_Book/main/Chapter%2016/pima-indians-diabetes.csv'

# Loading the data using pandas
diabData = pd.read_csv(filename,sep=",",header = None,na_values = "?")
diabData.head()

###  Finding number of null values in the data set

In [ ]:
diabData.isnull().sum()

### Dropping all the rows with na values

In [ ]:

newdiabdata = diabData.dropna(axis = 0)

In [ ]:
# Printing the shape of earlier data set and new data set
print(diabData.shape)
print(newdiabdata.shape)

In [ ]:
# Seperating X and y variables
X = newdiabdata.loc[:,0:3]
print(X.shape)
y = newdiabdata.loc[:,4]
print(y.shape)

### Splitting the data into train and test sets

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

print(X_train.shape)
print(X_test.shape)